<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Imágenes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/navBar.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <%- include('partials/navbarUser') %>

    <div class="container">
        <h1 class="text-center">Editar Imágenes</h1>
        <form action="/edit-images" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="imagen1">LOGO (archivo)</label>
                <input type="file" class="form-control" id="imagen1" name="imagen1" accept="image/*" required>
                <img src="<%= imagenes.imagen1 %>" alt="Imagen actual" class="img-fluid mt-2">
            </div>
            <div class="form-group">
                <label for="imagen2">CUERPO (archivo)</label>
                <input type="file" class="form-control" id="imagen2" name="imagen2" accept="image/*" required>
                <img src="<%= imagenes.imagen2 %>" alt="Imagen actual" class="img-fluid mt-2">
            </div>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
            <a href="/" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>

